.usersList__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3em;
}
.userCardInformation {
  width: auto;
}

@media screen and (max-width: 1024px) {
  .usersList__content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 425px) {
  .usersList__content {
    grid-template-columns: 1fr;
    gap: 1em;
  }
}