.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.usersList {
  width: 75%;
}
.userCardInformation {
  width: 30%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1919px) {
  :root {
    font-size: .7vw;
  }
}
@media screen and (max-width: 1024px) {
  :root {
    font-size: 1.4vw;
  }
  .usersList {
    width: 95%;
  }
  .userCardInformation {
    width: 49%;
  }
}
@media screen and (max-width: 425px) {
  :root {
    font-size: 3.2vw;
  }
  .userCardInformation {
    width: 100%;
  }
}
